*, 
*::after, 
*::before {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font: 12px/1.3, 'Dotum', sans-serif;
}

.wrapper {
    margin: 200px;
}

.wrapper h1 {
    margin-bottom: 10px;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.wrapper > a {
    display: block;
    margin-bottom: 50px;
}

/* select-box custom style */
.custom-select-wrapper {
    display: inline-block;
    position: relative;
    user-select: none;
}

.custom-select-wrapper select {
    display: none;
}

.custom-select {
    display: inline-block;
    position: relative;
}

.custom-select-trigger {
    cursor: pointer;
    display: block;
    position: relative;
    width: 100%;
    min-width: 130px;
    border-bottom: 2px solid #7f8897;
    padding: 7px 0 7px 9px;
    font-size: 13.3px;
    font-weight: 300;
    color: #7f8897;
    background-color: #fff;
}

/* select-box arrow drawing */ 
.custom-select-trigger::after {
    content: '';
    display: block;
    position: absolute; 
    top: 50%;
    right: 1px;
    width: 10px;
    height: 5px;
    margin-top: -2px;
    background: url('../input-arrow.png') no-repeat;
}

.custom-options {
    opacity: 0;
    visibility: hidden;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    min-width: 100%;
    margin: 0;
    border: 1px solid #7b9dd4;
    box-sizing: border-box;
    background-color: #fff;
    pointer-events: none;
}

.custom-option {
    display: block;
    cursor: pointer;
    position: relative;
    padding: 3px 0 5px 9px;
    font-size: 13.3px;
    line-height: 1;
    color: #636a70;
    /* transition: all .4s ease-in-out; */
}

.type-always {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 4px;
    border-radius: 100%;
    background-color: #4c525c;
    background-color: #73a3ac;
}

.type-pt {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 4px;
    border-radius: 100%;
    background-color: #4c525c;
    background-color: #7fb183;
}

.type-progress {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 4px;
    border-radius: 100%;
    background-color: #4c525c;
    background-color: #7b7fa7;
}

.type-suggest {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 4px;
    border-radius: 100%;
    background-color: #4c525c;
    background-color: #a088b0;
}


/* option selected css */ 
.custom-option:hover, 
.custom-option.selection {
    background-color: #1e90ff;
    color: #fff;
}

/* add class 'opened' css */
.opened .custom-options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}




